* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Ubuntu";
}

/*navbar styling*/

nav {
    display: flex;
    background-color: #ffffff;
    font-size: 0.9rem;
    font-weight: 400;
    align-items: center;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    z-index: 10000000;
    position: relative;
}

nav>* {
    margin-right: 10px;
}

.search-div {
    flex-grow: 17;
    border-radius: 9999px;
    border: 1px #000 solid;
    height: 3rem;
    display: flex;
    background-color: #f7f9fa;
    align-items: center;
    justify-content: flex-start;
}

.search-div div {
    padding: 3%;
}

.search-div input[type=text] {
    border-width: 0;
    background-color: inherit;
    height: 100%;
    outline: none;
    flex-grow: 1;
    max-width: 86%;
    border-radius: 9999px;
    border: 1px #f7f9fa solid;
}

.search-div i {
    color: #8A8B8D;
}

a,
nav {
    text-transform: capitalize;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

.search-div button {
    padding: 0;
    border: 0;
    background-color: inherit;
    cursor: pointer;
    outline: 0;
}

.login-button {
    border: 1px rgb(0, 0, 0) solid;
    font-weight: bold;
    padding: 10px 0px;
}

.signup-button {
    border: 1px rgb(0, 0, 0) solid;
    font-weight: bold;
    padding: 10px 0px;
    background-color: #000;
    color: #ffffff
}

.global-button {
    border: 1px rgb(0, 0, 0) solid;
    font-weight: bold;
    padding: 10px 0px;
    max-width: 40px;
}

/*header styling*/

header {
    width: 89%;
    margin: auto;
    background-color: #DEDEDE;
    display: flex;
    align-items: center;
    font-weight: 400;
}


header div {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

header p,
.sec1 p {
    line-height: 1.4;
    margin-top: 15px;
}

header p::first-letter,
header h1::first-letter,
.sec1 p::first-letter,
.sec1 h1::first-letter,
.sec1 h2::first-letter {
    text-transform: capitalize;
}

/*section one styling*/
.sec1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 89%;
}

.sec1>* {
    width: 95%;
    margin: auto;
}

.sec1>div:first-child {
    padding-top: 40px;
    padding-bottom: 20px;
}

.first-ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: flex-start;
    margin-bottom: 10px;
    overflow: auto;
}

.first-ul::-webkit-scrollbar {
    height: 10px;
}

.first-ul::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

.first-ul::-webkit-scrollbar-thumb {
    background-color: #DEDEDE;
    ;
    border-radius: 20px;
    width: 10px;
}

.sec1 li {
    color: #6a6f73;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1rem;
    text-transform: capitalize;
    margin-right: 25px;
    white-space: nowrap;
}

.sec1 li:hover {
    color: #000;
    cursor: pointer;
}

.sec1 ul li span {
    text-transform: uppercase;
}

.topics-div {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px rgb(68, 68, 68) solid;
    padding: 20px;

}

.active-topic {
    color: rgb(0, 0, 0) !important;
}

.explore-button {
    margin: 18px 0px;
    border: 1px #000 solid;
    width: fit-content;
    padding: 10px;
    font-weight: 700;
}

.rating {
    color: #F3CA8C;
    font-size: 0.9rem;
}

.rating-course {
    color: #b4690e;
    font-size: 0.9rem;
}

.courses-div {
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
}

.courses-div::-webkit-scrollbar {
    display: none;
}

.course-card {
    max-width: 240px;
    margin-bottom: 20px;
}

.course-details {
    width: 100%;
    padding: 5px 0;
}

.course-details>* {
    margin: 5px 0px;
}

.author-span,
.coures-rating-span {
    font-size: 0.8rem;
}

.author-span,
.coures-rating-span,
.old-price-span {
    color: #6a6f73;
}

.price-span {
    font-weight: bold;
}

.old-price-span {
    text-decoration: line-through;
}

/*media queries*/
@media (max-width:320px) {

    .sec1,
    header {
        width: 94%;
    }
}

@media(max-width:800px) {
    .menu {
        display: block;
        font-size: 1.6rem;
        font-weight: 900;
    }

    nav>*:not(:last-child):not(:first-child) {
        display: none;
    }

    nav {
        height: 60px;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    header {
        flex-direction: column-reverse;
    }

    header img {
        width: 70%;
    }

    header div {
        width: 100%;
    }

    header p,
    .sec1 p {
        font-size: 1rem;
    }

    header h1,
    .sec1 h1 {
        font-size: 1.2rem;
    }

    .sec1 h2 {
        font-size: 1rem;
    }

    .topics-div p {
        font-size: 0.8rem;
    }
}

@media(min-width:800px)and (max-width:920px) {
    .udemy-business {
        display: none;
    }

    .teach-on-udemy {
        display: none;
    }

    .menu {
        display: none;
    }

    nav {
        height: 70px;
        flex-direction: row;
    }

    nav>*:not(.search-div) {
        flex-grow: 1;
    }

    header {
        flex-direction: column-reverse;
    }

    header img {
        width: 70%;
    }

    header div {
        width: 100%;
    }

    header p,
    .sec1 p {
        font-size: 1.1rem;
    }

    header h1,
    .sec1 h1 {
        font-size: 1.4rem;
    }

    .sec1 h2 {
        font-size: 1.2rem;
    }

    .topics-div p {
        font-size: 0.9rem;
    }


}

@media(min-width:920px)and (max-width:1080px) {
    .udemy-business {
        display: none;
    }

    .teach-on-udemy {
        display: block;
    }

    .menu {
        display: none;
    }

    nav {
        height: 70px;
        flex-direction: row;
    }

    nav>*:not(.search-div) {
        flex-grow: 1;
    }

    header {
        height: 30vw;
        justify-content: space-evenly;
    }

    header img {
        width: 40%;
    }

    header div {
        width: 40%;
    }

    header p,
    .sec1 p {
        font-size: 1.4vw;
    }

    header h1,
    .sec1 h1 {
        font-size: 2.2vw;
    }

    .sec1 h2 {
        font-size: 2vw;
    }

    .topics-div p {
        font-size: 1.2vw;
    }
}

@media(min-width:1080px) {
    .udemy-business {
        display: block;
    }

    .teach-on-udemy {
        display: block;
    }

    .menu {
        display: none;
    }

    nav {
        height: 70px;
        flex-direction: row;
    }

    nav>*:not(.search-div) {
        flex-grow: 1;
    }

    header {
        height: 30vw;
        justify-content: space-evenly;
    }

    header img {
        width: 40%;
    }

    header div {
        width: 40%;
    }

    header p,
    .sec1 p {
        font-size: 1.2vw;
    }

    header h1,
    .sec1 h1 {
        font-size: 2vw;
    }

    .topics-div p {
        font-size: 1.1vw;
    }
}

.right-scroll,
.left-scroll {
    color: #ffffff;
    background-color: #000000a3;
    font-size: 1.3em;
    padding: .4%;
    border-radius: 25px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 88px;
    position: relative;
    transition: 0.5s;
    margin: 0;
}

.right-scroll {
    float: right;
    left: 14px;
}

.left-scroll {
    float: left;
    right: 14px;
    display: none;
}

.sec2 {
    width: 89%;
    margin: auto;
}

.sec2 .row {
    width: 90%;
    margin: auto;
}
.topic-image-div{
    perspective: 150px;
}

.topic-image
{
    cursor: pointer;
    transition: 0.25s;
    margin-bottom: 20px;
}
.topic-image:hover
{
    transform: translateZ(10px);
}